.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, blue, white);

  & h1 {
    animation: fade-in 2s ease;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}